/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.header {
  h3 {
    a, a:hover {
      color : inherit;
    }
  }
}

.grey-background {
  background-color: #ccc;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.datepicker-days td.day.disabled {
  opacity: 0.5;
}

/*event booking*/
.form-steps .step:first-child {
    border-top: 1px solid #e9e9e9;
}
.form-steps .step.active .step-heading {
    color: #e30036;
}
.form-steps .step .step-heading {
    color: #bababa;
    text-transform: uppercase;
    margin: 0 0 13px;
}
.form-steps h2 {
    font-family: 'Source Sans Pro',sans-serif;
    line-height: normal;
    font-weight: lighter;
    margin: 0 0 20px;
    color: #222;
}
.form-steps .step {
    border-bottom: 1px solid #e9e9e9;
    padding: 12px 0 0;
}
.form-steps li {
    display: list-item;
    list-style: none;
}

.continue {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 0;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    line-height: 1!important;
    color: #fff!important;
    text-transform: uppercase;
    padding: 9px 18px;
    border-radius: 0;
    box-shadow: none;
    background: #e30036;
}
.show-more .right {
    text-align: right;
    margin-top: 0;
    margin-bottom: 30px;
}
form .show-more {
    margin: 10px 0!important;
}

.show-more {
    position: relative;
    text-align: center;
    padding: 10px 0 0;
    margin: 10px 0 34px;
}